
<div class="main-cart-totals-wrapper main-cart-totals--overflow">
  <div class="main-cart-totals-container--positioning">
    <div class="main-cart-totals-container">
      <table>
        <thead>
          <tr>
            <td ng-repeat="column in cartTotals.totalColumns" class="totals-col">
              <div>
                <label>{{column.Label}}</label>
              </div>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="lineTotal in cartTotals.totals" item="lineTotal">
            <!-- <td ng-repeat="column in cartTotals.totalColumns" ng-include="'totalFieldTypes'" ng-switch="column.FieldType" class="totals-col"></td> -->
            <td ng-repeat="column in cartTotals.totalColumns" class="totals-col">
              <div class="fieldtype-wrapper--{{column.FieldType}}">
                <dynamic-field model="lineTotal.summaryGroupSO[column.FieldName]" 
                               properties="{'FieldType': column.FieldType,
                                            'IsEditable': cartTotals.isFieldEditable(lineTotal, column),
                                            'pickListEntries': column.pickListEntries}">
                </dynamic-field> 
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
