<div class="main-cart-wrapper main-cart-wrapper--overflow">
	<asset-header></asset-header>
	<div class="main-cart-container--positioning">
		<div class="main-cart-container">
			<div class="loading" ng-show="mainAssetController.loading">Loading&#8230;</div>
      <div ng-if="!(mainAssetController.loading) &amp;&amp; (mainAssetController.assetLineItems.length == 0)"><h2>No Items Available To View</h2></div>
			<table ng-if="mainAssetController.assetLineItems.length > 0">
				<!-- column heading -->
				<thead class="cart-label-row">
					<th ng-repeat="column in mainAssetController.tableColumns" ng-class="{'is--editable' : column.IsEditable}" class="main-asset-col main-cart-col main-cart-col--{{column.columnClassName}} {{column.StyleClass}}">
						<div>
							<label>{{column.Label}}</label>
						</div>
					</th>
				</thead>
				<tbody ng-sortable="{ handle: '.line-item-row--draggable', group: 'lineItem'}">
					<!-- top level asset line items -->
					<tr item="lineItem" 
              dir-paginate="lineItem in mainAssetController.assetLineItems | itemsPerPage: 25" 
              class="line-item-row">
						<td ng-repeat="column in mainAssetController.tableColumns" 
                ng-class="{'is--editable' : column.IsEditable}" 
                class="main-cart-col main-cart-col--{{column.columnClassName}}">
							<div ng-if="column.FieldType === 'DETAIL'" class="fieldtype-wrapper fieldtype-wrapper--{{column.FieldType}}">
								<div ng-include="'fieldTypeDETAIL'"></div>
              </div>
              <div ng-if="column.FieldType != 'DETAIL' &amp;&amp; column.FieldName != (mainAssetController.nsPrefix + 'AssetStatus__c')" 
                class="fieldtype-wrapper fieldtype-wrapper--{{column.FieldType}}">
                <dynamic-field ng-if="column.FieldName.indexOf('LocationId') >= 0"  model="lineItem.assetLineItemSO[column.FieldName].Name" properties="column"></dynamic-field>
                <dynamic-field ng-if="column.FieldName.indexOf('LocationId') < 0"  model="lineItem.assetLineItemSO[column.FieldName]" properties="column"></dynamic-field>
              </div>
              <div ng-if="column.FieldType != 'DETAIL' &amp;&amp; column.FieldName == (mainAssetController.nsPrefix + 'AssetStatus__c')" 
                class="fieldtype-wrapper fieldtype-wrapper--{{column.FieldType}}">
                <dynamic-field model="lineItem.assetLineItemSO['@@PendingStatus']" properties="column"></dynamic-field>
              </div>
              <!--Top level Charge lines-->
              <!--Top level option lines-->
              <ul ng-if="lineItem.optionLines.length &amp;&amp; column.FieldType !== 'DETAIL'" 
                  class=" submenu submenu--optionlines">
                <li ng-repeat="optionLine in lineItem.optionLines" class="option-line-col">
                  <div class="fieldtype-wrapper">
                    <dynamic-field ng-if="column.FieldName.indexOf('LocationId') >= 0" model="optionLine.assetLineItemSO[column.FieldName].Name" properties="column"></dynamic-field>
                     <dynamic-field ng-if="column.FieldName.indexOf('LocationId') < 0" model="optionLine.assetLineItemSO[column.FieldName]" properties="column"></dynamic-field>
                    <!-- <dynamic-field model="optionLine.lineItemSO[column.FieldName]" properties="column"></dynamic-field> -->
                  </div>
                  <!--Secondary Level option and charge lines-->
                  <ul ng-if="optionLine.chargeLines.length" class="charge-lines">
                    <li ng-repeat="chargeLine in optionLine.chargeLines" class="charge-line-col">
                      <div class="fieldtype-wrapper">
                        <dynamic-field ng-if="column.FieldName.indexOf('LocationId') >= 0" model="chargeLine.lineItemSO[column.FieldName].Name"
                          properties="column">
                        <dynamic-field ng-if="column.FieldName.indexOf('LocationId') < 0" model="chargeLine.lineItemSO[column.FieldName]"
                          properties="column">
                        </dynamic-field>
                        <!--div(ng-include="'fieldType'+ column.FieldType")-->
                      </div>
                    </li>
                  </ul>
                  <ul ng-if="optionLine.optionLines" class="submenu submenu--optionlines  option-{{optionLine.lineItemSO[mainAssetController.nsPrefix + 'OptionId__r'].Id}}">
                    <li ng-repeat="optionLine in optionLine.optionLines" ng-include="'subOptionLineCol'" class="option-line-col"></li>
                  </ul>
                </li>
              </ul>
            </td>
					</tr>
				</tbody>
			</table>
			<!-- <span>Main Asset Line Items data would go here</span> -->
		</div>
	</div>
</div>

<!-- subOptions -->
<script type="text/ng-template" id="subOptionAssetLineDetail">
  <div class="line-item-name">
    <!--
    <div class="checkbox-override">
      <input type="checkbox" id="{{optionLine.assetLineItemSO[mainAssetController.nsPrefix + 'OptionId__r'].Id}}"/>
      <label for="{{optionLine.assetLineItemSO[mainAssetController.nsPrefix + 'OptionId__r'].Id}}"></label>
    </div>
    -->
    <i toggle-class="is--open" parent="option-line-col" ng-if="optionLine.optionLines.length" toggle-all-class="option-{{optionLine.assetLineItemSO[mainAssetController.nsPrefix + 'OptionId__r'].Id}}" toggle-all-class-with="is--visible" class="line-item--expandable"></i>
    <h3>{{optionLine.lineItemSO[mainAssetController.nsPrefix + 'OptionId__r'].Name}}</h3>
  </div>
  <ul ng-if="optionLine.optionLines.length" class="submenu submenu--optionlines">
    <li ng-repeat="optionLine in optionLine.optionLines" ng-include="'subOptionAssetLineDetail'" class="option-line-col">
      <p>{{optionLine.assetLineItemSO[mainAssetController.nsPrefix + 'OptionId__r'].Name}}</p>
    </li>
  </ul>
</script>
<!--All beneath top level. Not in left DETAIL column-->
<script type="text/ng-template" id="subOptionAssetLineCol">
  <div class="fieldtype-wrapper">
    <div ng-include="'fieldType'+ column.FieldType"></div>
  </div>
  <ul ng-if="optionLine.chargeLines.length" class="submenu submenu--chargelines chargelines-{{optionLine.lineItemSO[mainAssetController.nsPrefix + 'OptionId__r'].Id}}">
    <li ng-repeat="chargeLine in optionLine.chargeLines" class="charge-line-col">
      <div class="fieldtype-wrapper">
        <div ng-include="'fieldType'+ column.FieldType"></div>
      </div>
    </li>
  </ul>
  <ul ng-if="optionLine.optionLines" class="submenu submenu--optionlines option-{{optionLine.lineItemSO[mainAssetController.nsPrefix + 'OptionId__r'].Id}}">
    <li ng-repeat="optionLine in optionLine.optionLines" ng-include="'subOptionAssetLineCol'" class="option-line-col"></li>
  </ul>
</script>
<!--All detail beneath top level-->
<script type="text/ng-template" id="fieldTypeDETAIL">
  <div class="line-item-name">
    <div ng-if="(lineItem.assetLineItemSO['@@PendingStatus'].indexOf('Pending') < 0) &amp;&amp; (lineItem.assetLineItemSO['@@PendingStatus'].indexOf('Cancelled') < 0)" class="checkbox-override">
      <input type="checkbox" id="{{lineItem.assetLineItemSO.Id}}" ng-model="lineItem.assetLineItemSO['@@uiSelection']" ng-change="mainAssetController.handleSelectionChange(lineItem)"/>
      <label for="{{lineItem.assetLineItemSO.Id}}"></label>
    </div>
    <div ng-if="(lineItem.assetLineItemSO['@@PendingStatus'].indexOf('Pending') < 0) &amp;&amp; (lineItem.assetLineItemSO['@@PendingStatus'].indexOf('Cancelled') >= 0)" class="checkbox-override">
      <input type="checkbox" id="{{lineItem.assetLineItemSO.Id}}" ng-model="lineItem.assetLineItemSO['@@uiSelection']" ng-change="mainAssetController.handleSelectionChange(lineItem)" ng-disabled="true" />
      <label for="{{lineItem.assetLineItemSO.Id}}"></label>
    </div>
    <div ng-if="(lineItem.assetLineItemSO['@@PendingStatus'].indexOf('Pending') >= 0) &amp;&amp; (lineItem.assetLineItemSO['@@PendingStatus'].indexOf('Cancelled') < 0)" class="checkbox-override">
      <h3><span class="ss-icon ss-cart"></span></h3>
    </div>
    <i toggle-class="is--open" parent="line-item-row" ng-if="lineItem.optionLines.length" class="line-item--expandable"></i>
    <h3><span class="line-item--name"><a ng-class="{'asset-item-disabled': (lineItem.assetLineItemSO['@@PendingStatus'].indexOf('Cancelled') >= 0)}" ng-click="mainAssetController.openSummaryDialog(lineItem)">{{lineItem.assetLineItemSO[column.FieldName].Name}}</a></span></h3>
  </div>
  <!-- Include all options that belong to this asset (this might be recursive) -->
  <ul ng-if="lineItem.optionLines.length">
  	<li ng-repeat="optionLine in lineItem.optionLines" class="option-line-col">
  		<div class="option-line-name">
  			<!--
        <div class="checkbox-override">
  				<input type="checkbox" id="{{optionLine.assetLineItemSO[mainAssetController.nsPrefix + 'OptionId__r'].Id}}"/>
  				<label for="{{optionLine.assetLineItemSO[mainAssetController.nsPrefix + 'OptionId__r'].Id}}"></label>
  			</div>
        -->
  			<i toggle-class="is--open" parent="option-line-col" toggle-all-class="option-{{optionLine.assetLineItemSO[mainAssetController.nsPrefix + 'OptionId__r'].Id}}" toggle-all-class-with="is--visible" ng-if="optionLine.optionLines.length" class="line-item--expandable"></i>
  			<h3>{{optionLine.assetLineItemSO[mainAssetController.nsPrefix + 'OptionId__r'].Name}}</h3>
  		</div>
  		<ul ng-if="optionLine.optionLines.length" class="submenu submenu--optionlines option-{{optionLine.lineItemSO[mainAssetController.nsPrefix + 'OptionId__r'].Id}}">
        <li ng-repeat="optionLine in optionLine.optionLines" ng-include="'subOptionAssetLineDetail'" class="option-line-col"></li>
      </ul>
  	</li>
  </ul>
</script>