<div ng-if="dynamicField.IsEditable" 
		 ng-include="dynamicField.templateUrl">
</div>
<div ng-if="!dynamicField.IsEditable && (!dynamicField.IsCalculated || !dynamicField.getIsStringType())"
	 	 class="{{dynamicField.properties.StyleClass}}" 
	 	 style="{{dynamicField.properties.Style}}">
	{{dynamicField.getSetModel()}}
</div>
<div ng-if="!dynamicField.IsEditable && dynamicField.IsCalculated && dynamicField.getIsStringType()"
	 	 class="{{dynamicField.properties.StyleClass}}" 
	 	 style="{{dynamicField.properties.Style}}">
	<div ng-bind-html="trustAsHtml(dynamicField.getSetModel())"/>	
</div>