<!-- fieldType: QUANTITY, PERCENTAGE, CURRENCY, DOUBLE -->
<p>
	<input type="{{dynamicField.DisplayType}}" 
				 ng-model="dynamicField.getSetModel"
				 ng-model-options="dynamicField.modelOptions"
				 class="{{dynamicField.properties.StyleClass}}" 
				 style="{{dynamicField.properties.Style}}"
				 id="{{dynamicField.properties.ElementId}}"
				 ng-true-value="{{dynamicField.TrueValue}}"
				 ng-false-value="{{dynamicField.FalseValue}}"
				 ng-disabled="dynamicField.IsDisabled"
				 ng-class="{'dyanmic-field-disabled-input': dynamicField.IsDisabled}"/>				 
</p>