<!-- fieldType: PICKLIST -->
<p class="select-override ">
	<select ng-model="dynamicField.getSetModel" 
					ng-model-options="dynamicField.modelOptions"
					class="{{dynamicField.properties.StyleClass}}" 
					style="{{dynamicField.properties.Style}}"
					id="{{dynamicField.properties.ElementId}}">
		<option ng-if="!dynamicField.properties.Required" value="">{{dynamicField.labels.None}}</option>
		<option ng-repeat="entry in dynamicField.properties.pickListEntries">{{entry.label}}</option>
	</select>
</p>