<price-ramp-dialog></price-ramp-dialog>
<div main-cart="main-cart" class="main-cart-wrapper main-cart-wrapper--overflow">
	<pricing-guidance-flyout></pricing-guidance-flyout>
	<div class="loading" ng-show="mainCart.isServerActionInProgress()"></div>
	<cart-header check-boxes="mainCart.checkBoxes"></cart-header>
	<div class="main-cart-container--positioning">
		<div class="main-cart-container">
			<table>
				<!--Column heading-->
				<thead class="cart-label-row">
					<th ng-repeat="column in mainCart.tableColumns" 
							ng-class="{'is--editable' : column.IsEditable}" 
							class="main-cart-col main-cart-col--header  main-cart-col--{{column.columnClassName}}">
						
						<div ng-if="column.FieldType == 'DETAIL'">
							<label ng-if="!mainCart.hasGroupByFieldsValues()" style="{{column.HeaderStyle}}">{{column.Label}}</label>
                            <label ng-if="mainCart.hasGroupByFieldsValues()" style="{{column.HeaderStyle}}"> {{mainCart.labels.GroupBy}}
                                <select name="productGroupByFields" ng-model="mainCart.cartState" 
                                                            		ng-options="option.Label for option in mainCart.groupByColumnFields"
                                                            		ng-change="mainCart.changeCartState()">
                                </select>
                            </label>
                        </div>

						<div ng-if="column.FieldType !== 'DETAIL'">
							<label style="{{column.HeaderStyle}}">{{column.Label}}</label>
						</div>

						<!-- Fixed Cart Header Appear on Scroll -->
						<div cart-label-field="cart-label-field" class="fixed-label" ng-hide="$first">
							<label>{{column.Label}}</label>
						</div>
						
					</th>
				</thead>
				<tbody ng-sortable="mainCart.sortableSettings">
					<!--top level cart line items-->
					<tr item="lineItem" 
							dir-paginate="lineItem in mainCart.cartLineItems | itemsPerPage: mainCart.itemsPerPage" 
							class="line-item-row">
						<td ng-repeat="column in mainCart.tableColumns" 
								ng-class="{'is--editable' : column.IsEditable}" 
								class="main-cart-col main-cart-col--{{column.columnClassName}}">
							<!--Top level column fields-->
							<div class="fieldtype-wrapper fieldtype-wrapper--{{column.FieldType}}">
								<!-- Only the first column gets a value rendered, the rest are empty divs -->
								<div ng-if="column.FieldType === 'DETAIL'" 
										 ng-include="'fieldTypeDETAIL'">
								</div>
							</div>
							<!--Top level charge lines-->
							<ul ng-if="lineItem.chargeLines.length && column.FieldType !== 'DETAIL'" class="submenu submenu--chargelines chargelines">
								<li ng-repeat="chargeLine in lineItem.chargeLines" class="charge-line-col">
									<div class="fieldtype-wrapper fieldtype-wrapper--{{column.FieldType}}">
										<div ng-if="!chargeLine.isFieldHidden(column.FieldName)" class="full-width">
											<dynamic-field ng-if="mainCart.isDynamicField(column.FieldType)" 
																		 model="chargeLine.fieldGetterSetter(column.FieldName)" 
																		 field-type="{{column.FieldType}}"
																		 is-editable="{{column.IsEditable && chargeLine.isFieldEditable(column.FieldName)}}"
																		 properties="column">
											</dynamic-field>
					
											<pricing-guidance ng-if="mainCart.isGuidanceField(column.FieldType)" 
																		 charge-line="chargeLine"
																		 properties="column">
											</pricing-guidance>
										</div>
									</div>
								</li>
							</ul>
							<!--Top level option lines-->
							<ul ng-if="lineItem.optionLines.length && column.FieldType !== 'DETAIL'" class=" submenu submenu--optionlines">
								<li ng-repeat="optionLine in lineItem.optionLines | filter:mainCart.isLineSelected" class="option-line-col">
									<div class="fieldtype-wrapper">
										<!-- These cells left blank b/c charge lines contain all relevent information -->
									</div>
									<!--Secondary Level option and charge lines-->
									<ul ng-if="optionLine.chargeLines.length" class="charge-lines">
										<li ng-repeat="chargeLine in optionLine.chargeLines" class="charge-line-col">
											<div class="fieldtype-wrapper fieldtype-wrapper--{{column.FieldType}}">
												<div ng-if="!chargeLine.isFieldHidden(column.FieldName)" class="full-width">
													<dynamic-field ng-if="mainCart.isDynamicField(column.FieldType)" 
																				model="chargeLine.fieldGetterSetter(column.FieldName)" 
																				 field-type="{{column.FieldType}}"
																				 is-editable="{{column.IsEditable && chargeLine.isFieldEditable(column.FieldName)}}"
																				 properties="column">
													</dynamic-field>
												</div>
											</div>
										</li>
									</ul>
									<ul ng-if="optionLine.optionLines" class="submenu submenu--optionlines  option-{{optionLine.txnPrimaryLineNumber}}">
										<li ng-repeat="optionLine in optionLine.optionLines | filter:mainCart.isLineSelected" 
												ng-include="'subOptionLineCol'" 
												class="option-line-col">
										</li>
									</ul>
								</li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<cart-totals check-boxes="mainCart.checkBoxes"></cart-totals>
<!--mainCart.tableColumns-->
<!--All sub options detail lines beyond level 1-->
<script type="text/ng-template" id="subOptionLineDetail">
	<div class="line-item-name">
		<i toggle-class="is--open" 
			 parent="option-line-col"
			 ng-if="optionLine.hasOptions()"
			 toggle-all-class="option-{{optionLine.txnPrimaryLineNumber}}"
			 toggle-all-class-with="is--visible"
			 class="line-item--expandable"></i>
		<h3>{{optionLine.productName()}}</h3>
	</div>
	<ul ng-if="optionLine.chargeLines.length" class="submenu submenu--chargelines chargelines">
		<li ng-repeat="chargeLine in optionLine.chargeLines" class="charge-line-col">
			<div class="fieldtype-wrapper">
				<div>
					<p>{{chargeLine.chargeType()}}</p>
				</div>
			</div>
		</li>
	</ul>
	<ul ng-if="optionLine.optionLines.length" class="submenu submenu--optionlines">
		<li ng-repeat="optionLine in optionLine.optionLines | filter:mainCart.isLineSelected" ng-include="'subOptionLineDetail'" class="option-line-col">
			<p>{{optionLine.productName()}}</p>
		</li>
	</ul>
</script>
<!--All beneath top level. Not in left DETAIL column-->
<script type="text/ng-template" id="subOptionLineCol">
	<div class="fieldtype-wrapper">
		<!-- These cells left blank b/c charge lines contain all relevent information -->
	</div>
	<ul ng-if="optionLine.chargeLines.length" class="submenu submenu--chargelines chargelines chargelines-{{optionLine.txnPrimaryLineNumber}}">
		<li ng-repeat="chargeLine in optionLine.chargeLines" class="charge-line-col">
			<div class="fieldtype-wrapper fieldtype-wrapper--{{column.FieldType}}">
				<div ng-if="!chargeLine.isFieldHidden(column.FieldName)" class="full-width">
					<dynamic-field ng-if="mainCart.isDynamicField(column.FieldType)"
												 model="chargeLine.fieldGetterSetter(column.FieldName)" 
												 field-type="{{column.FieldType}}"
												 is-editable="{{column.IsEditable && chargeLine.isFieldEditable(column.FieldName)}}"
												 properties="column">
					</dynamic-field>
				</div>
			</div>
		</li>
	</ul>
	<ul ng-if="optionLine.optionLines" class="submenu submenu--optionlines option-{{optionLine.txnPrimaryLineNumber}}">
		<li ng-repeat="optionLine in optionLine.optionLines | filter:mainCart.isLineSelected"
				ng-include="'subOptionLineCol'"
				class="option-line-col"></li>
	</ul>
</script>
<!--All detail beneath top level-->
<script type="text/ng-template" id="fieldTypeDETAIL">
	<div class="line-item-name">
		<div class="line-item-row--draggable is--draggable"></div>
		<div class="line-sequence">
			<div>{{lineItem.primaryLine().sequence()}}</div>
		</div>
		<span class="fa fa-ellipsis-v"></span>
		<div class="checkbox-override">
			<input type="checkbox" 
						 id="{{lineItem.txnPrimaryLineNumber}}" 
						 ng-model="mainCart.checkBoxes.all[lineItem.txnPrimaryLineNumber]"
						 class="{{lineItem.txnPrimaryLineNumber}}"/>
			<label for="{{lineItem.txnPrimaryLineNumber}}"></label>
		</div>
		<i ng-if="lineItem.hasOptions()"
			 toggle-class="is--open" 
			 parent="line-item-row"
			 class="line-item--expandable">
		</i>
		<h3>
			<span ng-click="mainCart.openProductSummary(lineItem.productId());" class="line-item--name">
				{{lineItem.productName()}}
			</span>
			<i ng-if="lineItem.hasAttrs() || lineItem.hasOptions()"
				 ui-sref="configure({txnPrimaryLineNumber: lineItem.txnPrimaryLineNumber})" 
				 class="line-item--configurable ss-wrench">
			</i>
			<i ng-if="lineItem.isConfigurationPending()"
				ui-sref="configure({txnPrimaryLineNumber: lineItem.txnPrimaryLineNumber})" 
			   	class="line-item--alert fa fa-exclamation">
			</i>
		</h3>
	</div>
	<!--Output all charge top level lines-->
	<ul ng-if="lineItem.chargeLines.length" class="chargelines">
		<li ng-repeat="chargeLine in lineItem.chargeLines" class="charge-line-col">
			<p class="charge-label">
				{{chargeLine.chargeType()}}
				<i ng-if="chargeLine.isRampEnabled()"
				   ng-click="mainCart.openRamp(lineItem)"
				   class="line-item--configurable ss-upwardsbarchart">
				</i>
			</p>
		</li>
	</ul>
	<!--Include all sub option lines of the bundle-->
	<ul ng-if="lineItem.optionLines.length">
		<li ng-repeat="optionLine in lineItem.optionLines | filter:mainCart.isLineSelected" class="option-line-col">
			<div class="option-line-name">
				<i toggle-class="is--open"
					 parent="option-line-col"
					 toggle-all-class="option-{{optionLine.txnPrimaryLineNumber}}"
					 toggle-all-class-with="is--visible"
					 ng-if="optionLine.hasOptions()"
					 class="line-item--expandable">
				</i>
				<h4>{{optionLine.productName()}}</h4>
			</div>
			<ul ng-if="optionLine.chargeLines.length" class="submenu submenu--chargelines chargelines chargelines-{{optionLine.txnPrimaryLineNumber}}">
				<li ng-repeat="chargeLine in optionLine.chargeLines" class="charge-line-col">
					<p class="charge-label">{{chargeLine.chargeType()}}</p>
				</li>
			</ul>
			<ul ng-if="optionLine.optionLines.length" class="submenu submenu--optionlines option-{{optionLine.txnPrimaryLineNumber}}">
				<li ng-repeat="optionLine in optionLine.optionLines | filter:mainCart.isLineSelected"
						ng-include="'subOptionLineDetail'"
						class="option-line-col">
				</li>
			</ul>
		</li>
	</ul>
</script>
