
<div class="main-configure-product block main-block">
  <div main-configure-product="main-configure-product">
    <configure-product-breadcrumb></configure-product-breadcrumb>
    <configure-product-header ng-if="mainConfigCtrl.showBundleHeader()"></configure-product-header>
    <configure-product-nav view="mainConfigCtrl.view"></configure-product-nav>
    <attribute-groups ng-if="mainConfigCtrl.viewAttributes()" line-item="mainConfigCtrl.lineItem"></attribute-groups>
    <configure-product-options ng-if="mainConfigCtrl.viewOptions()"></configure-product-options>
  </div>
</div>