
<div class="main-configure-product__product-option-container"
		 ng-class="{'product-option__error': checkboxCtrl.option.hasError(),
								'option-disabled': checkboxCtrl.isOptionDisabled()}">
	<div class="form-element-container product-option__name"
			 id="{{checkboxCtrl.option.componentId()}}">
		<div class="checkbox-override">
			<input type="checkbox" 
						 ng-click="checkboxCtrl.toggleOption()"
						 ng-checked="checkboxCtrl.option.isSelected()" 
						 ng-disabled="checkboxCtrl.isOptionDisabled()"
						 id="{{checkboxCtrl.option.optionComponent.Id + checkboxCtrl.level}}" 
						 name="{{checkboxCtrl.option.group.groupInfo.id + checkboxCtrl.level}}"/>
			<label for="{{checkboxCtrl.option.optionComponent.Id + checkboxCtrl.level}}"></label>
		</div>
		<label>
			<span ng-click="checkboxCtrl.openProductSummary(checkboxCtrl.option.lineItem.productId());">{{checkboxCtrl.option.name()}}</span>
			<i ng-if="checkboxCtrl.showConfigureIcon()" 
					ui-sref="configure({txnPrimaryLineNumber: checkboxCtrl.option.lineItem.txnPrimaryLineNumber})" 
					class="product-option__name ss-wrench">
	        </i>
		</label>
	</div>
	<div class="form-element-container product-option__code">
		<span>{{checkboxCtrl.extraColumn(1)}}</span>
	</div>
	<div class="form-element-container product-option__family">
		<span>{{checkboxCtrl.extraColumn(2)}}</span>
	</div>
	<div class="form-element-container product-option__quantity">
		<dynamic-field model="checkboxCtrl.option.lineItem.quantityGetterSetter()" 
									 field-type="QUANTITY"
									 is-editable="{{checkboxCtrl.option.isEditable()}}"
									 class="product-option__quantity">
		</dynamic-field>
	</div>

	<div class="form-element-container product-option__price"
			 ng-class="{'is--open': checkboxCtrl.showAllPrices}">
		<span ng-repeat="price in checkboxCtrl.option.getPrices() | limitTo:(checkboxCtrl.showAllPrices ? checkboxCtrl.option.prices.length : 1)">
			<i ng-if="$first && checkboxCtrl.option.prices.length > 1" 
				 ng-click="checkboxCtrl.showAllPrices = !checkboxCtrl.showAllPrices"
				 class="is--expandable"></i>
			{{price | aptNumberToCurrency}}
		</span>
	</div>
</div>