
<div class="sidebar sidebar--configure-product">
	<h3>{{summary.labels.OptionsSummary}}</h3>
	<div class="configure-product__product-prices">
		<div ng-repeat="chargeLine in summary.lineItem.chargeLines"
			class="configure-product__price-row">
			<span class="configure-product__price-name">{{chargeLine.chargeType()}}</span>
			<span class="configure-product__price-value">{{chargeLine.netPrice() | aptNumberToCurrency}}</span>
		</div>
		<div class="configure-product__price-row">
			<span class="configure-product__price-name">{{summary.fieldLabels.LineItem.NetPrice}}&nbsp;</span>
			<span class="configure-product__price-value">{{summary.multiplyTotal() | aptNumberToCurrency}}</span>
		</div>
	</div>
	<div class="display-actions-block-side">
		<button ng-click="summary.updateBundle()" class="primary">
			<span>{{summary.labels.ValidateBundle}}</span>
		</button>
		<button ng-click="summary.gotoCart()" class="secondary">
			<i class="ss-addcart"></i><span>{{summary.labels.GoToPricing}}</span>
		</button>
	</div>
	<div class="configure-product__product-options">
		<h4>{{summary.labels.Options}}</h4>
		<div ng-repeat="group in summary.lineItem.optionGroups"
				 ng-include="'groupPricingSummary'">
		</div>
	</div>
</div>

<script type="text/ng-template" id="groupPricingSummary">
	<a ui-sref="configure({'#': group.groupInfo.id})"
		 class="configure-product__group-name">
		{{group.groupInfo.label}}
	</a>
	<div ng-repeat="optionLine in group.optionLinesFromGroup()"
			 class="configure-product__product-options-row">
		<a ui-sref="configure({'#': optionLine.optionComponentId()})" 
			 class="configure-product__product-name">
			{{optionLine.productName()}} x {{optionLine.quantity()}}
		</a>
		<span	class="configure-product__product-price">{{optionLine.primaryLine().netPrice() | aptNumberToCurrency}}</span>
		<div ng-repeat="group in optionLine.optionGroups"
				 ng-include="'groupPricingSummary'">
		</div>
	</div>
	<div ng-repeat="group in group.childGroups"
			 ng-include="'groupPricingSummary'"
			 class="configure-product__product-options-row">
	</div>
</script>