
<div ng-repeat="attrGroup in attrsCtrl.lineItem.attrGroups" 
		 class="main-configure-product__product-attribute">
	<h3>{{attrGroup.Name}}</h3>
	<div ng-class="{'two-column': attrsCtrl.isTwoColumn(attrGroup)}" 
			 ng-repeat="attr in attrsCtrl.attrsForGroup(attrGroup)"
			 class="form-element-container">
		<label>{{attrsCtrl.attributeLabel(attr)}}</label>
		<p ng-if="attrsCtrl.attributeHelp(attr)">{{attrsCtrl.attributeHelp(attr)}}</p>
		<dynamic-field model="attrsCtrl.lineItem.data.chargeLines[0].lineItemSO[attrsCtrl.attrValueField][attr]"
									 properties="attrsCtrl.fieldForAttr(attr)">
		<!-- TODO: Get multi-select to work  -->
		<!-- <div ng-if="attrsCtrl.isMultiPickList(attr)" 
				 ng-repeat="value in attrsCtrl.valuesForAttr(attr)"
				 class="multipick-item">
			<div class="checkbox-override">
				<input ng-model="attrsCtrl.lineItem.data.chargeLines[0].lineItemSO[attrsCtrl.attrValueField][attrsCtrl.fieldForAttr(attr)]" 
							 type="checkbox" 
							 id="checkbox-{{$index}}"/>
				<label for="checkbox-{{$index}}"></label>
			</div>
			<label for="checkbox-{{$index}}">{{value.label}}</label>
		</div> -->
	</div>
</div>