
<div class="main-configure-product__product-option-container"  
		 ng-class="{'product-option__error': radioCtrl.option.hasError(),
								'option-disabled': radioCtrl.isOptionDisabled()}">
	<div class="form-element-container product-option__name"
			 id="{{radioCtrl.option.componentId()}}">
		<div class="radio-override">
			<input type="radio" 
						 ng-click="radioCtrl.toggleOption()" 
						 ng-checked="radioCtrl.option.isSelected()"
						 ng-disabled="radioCtrl.isOptionDisabled()"
						 id="{{radioCtrl.option.optionComponent.Id + radioCtrl.level}}"
						 class="radio-type"/>
						 <!-- Removing html radio relationship so that selection is clearer when there are errors -->
						 <!-- name="{{radioCtrl.option.group.groupInfo.id + radioCtrl.level}}" -->
			<label for="{{radioCtrl.option.optionComponent.Id + radioCtrl.level}}"></label>
		</div>
		<label>
			<span ng-click="radioCtrl.openProductSummary(radioCtrl.option.lineItem.productId())">{{radioCtrl.option.name()}}</span>
			<i ng-if="radioCtrl.showConfigureIcon()" 
				ui-sref="configure({txnPrimaryLineNumber: radioCtrl.option.lineItem.txnPrimaryLineNumber})" 
				class="product-option__name ss-wrench">
        	</i>
		</label>
		
	</div>
	<div class="form-element-container product-option__code">
		<span>{{radioCtrl.extraColumn(1)}}</span>
	</div>
	<div class="form-element-container product-option__family">
		<span>{{radioCtrl.extraColumn(2)}}</span>
	</div>
	<div class="form-element-container product-option__quantity">
		<dynamic-field model="radioCtrl.option.lineItem.quantityGetterSetter()" 
									 field-type="QUANTITY"
									 is-editable="{{radioCtrl.option.isEditable()}}"
									 class="product-option__quantity">
		</dynamic-field>
	</div>
	<div class="form-element-container product-option__price"
			 ng-class="{'is--open': radioCtrl.showAllPrices}">
		<span ng-repeat="price in radioCtrl.option.getPrices() | limitTo:(radioCtrl.showAllPrices ? radioCtrl.option.prices.length : 1)">
			<i ng-if="$first && radioCtrl.option.prices.length > 1" 
				 ng-click="radioCtrl.showAllPrices = !radioCtrl.showAllPrices"
				 class="is--expandable"></i>
			{{price | aptNumberToCurrency}}
		</span>
	</div>
</div>